<h1>Hello World. Welcome to Thorax-RequireJS-Boilerplate</h1>

<p>
	Special thanks to these very amazing projects
	<ul>
		<li>Html5Boilerplate</li>
		<li>jQuery</li>
		<li>BackBone</li>
		<li>localstorage</li>
		<li>Underscore</li>
		<li>Lo-Dash</li>
		<li>RequireJS</li>
		<li>Thorax</li>
		<li>Handlebars</li>
		<li>Modernizr</li>
		<li>Bootstrap</li>
		<li>FontAwesome</li>
	</ul>
</p>